# Ignore all
*


# 	Except these specific files:
# Headers
!inc
!inc/*.h

# Source
!src
!src/**
!src/**.c

# Assets
!assets
!assets/
!assets/**

# Libft
!libft
!libft/
!libft/lib/**.c

# Makefile
!Makefile

# gitignore
!.gitignore